

.commit{
    margin: 0% 0% 0% 35%;
}
.rating {
font-size: 0;
display: table;
}
.rating > label {
color: #ddd;
float: right;
}
.rating > label:before {
   padding: 5px;
font-size: 30px;
line-height: 1em;
display: inline-block;
content: "★";
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
color: #FFD700;
}
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
opacity: 0.5;
}

.upitem{
    background-color:aliceblue;
    width:60%;
    height:800px; 
    margin:10px 0px 0px 20%;
    padding-bottom: 10px;
}

.itempic{
    background: #3f4faa;;
    margin: 5% 0% 0% 5%;
    float: left;
    width:400px;
    height:400px;
}
img.product{
    margin: 10% 10% 10% 10%;
    width:80%;
    height:80%;
}
.mh2 {
    width:140px;
    height:60px;
    background-color: #FFD700;
    position: relative;
    border: 1px solid rgba(0,0,0,0.5);
    transition: all 0.5s linear;
    border-radius: 10px;
}

.mh2:hover {
    background-color: #3f4faa;
    color:aliceblue;
    border-radius: 200px;
    transition: all 0.5s linear;    
}
.txt{
    margin: 5% 10% 0% 50%;
}
.buybutton{
    float: right;
    display: flex;
    margin-right: 5%;
}
.downitem{
    background-color:aliceblue;
    width:60%;
    height:auto; 
    margin:10px 0px 0px 20%;
}

.qty {
width: 40px;
height: 35px;
text-align: center;
border: 0;
border-top: 1px solid #aaa;
border-bottom: 1px solid #aaa;
}


input.qtyplus {
width: 25px;
height: 35px;
border: 1px solid #aaa;
background: white;
}

input.qtyminus {
width: 25px;
height: 35px;
border: 1px solid #aaa;
background: white;
}

.checked {
color: orange;
}
.ly{
    background-color:cornsilk;
    width:90%;
    height:auto; 
    margin:10px 40px 10px 40px;
    border-radius:10px;
    padding: 10px;
}
.commit{
    margin-left:2%;
    width: 95%;
}
.sendbutton{
    margin-left: 88%;
    
}
