.formbox{
    background-color: aliceblue;
    font-size: 20px;
    color: #0080FF;
    display: inline-block;
    border: black 1px solid;
    padding: 30px 60px;
    border-radius: 15px;
    text-shadow: 0 0 0.5em #0080FF;
    box-shadow: inset 0 0 0.8em #0080FF, 0 0 0.8em #0080FF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -35px;
}
.bg{
    position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -999;
    }
.bg img {
            min-height: 100%;
            width: 100%;
    }