.menu{
  z-index: -1;
  width:80%; 
  padding-top: 0px; 
  margin:0px 10px 0px 10px;
}

.photo-container{
    margin: 5% 10% 0% 10%;
    width: 100%;
    height:auto;
    border: 1px dashed #FFB5B5;
    overflow: auto;
}

.photo-container2{
  margin: 0% 18% 10% 18%;
  width: 100%;
  height: 350px;
  display: flex;
  overflow: auto;
}

.photo-card {
  position: relative;
  margin: 1.5em;
  width: 250px;
  height: 250px;
  
}

.img_description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  color: #FFF;
  background: #FFF7FB;
  visibility: hidden;
  opacity: 0.6;
  transition: opacity 0.5s, visibility .5s;
  display: flex;
  align-items: center;
  justify-content: center;

    
}

.photo-card:hover .img_description_layer {
  visibility: visible;
  opacity: 1;
}

.img_description_text {
  color:red;
  transition: 0.5s;
  transform: translateY(1em);
}

.photo-card:hover .img_description_text {
  transform: translate(0em);
}
.goodsimg{
width:246px;
height: 246px;
border:2px #FFF solid;
}
.goodsprice{
    text-align: right;
    color: #AE0000;
    font-weight: bold;

}
.goodsmane{
    font-weight: 400;
    font-size: 18px;
    color:#750000;

}